body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 50px;
}

input,select,button {
    padding: 10px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}